---
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";

const socialLinks = [
  {
    platform: "Twitter",
    url: "https://x.com/NnamdiNwaocha?s=09",
  },
  {
    platform: "Linkedin",
    url: "https://www.linkedin.com/in/nnamdi-nwaocha-a03984267?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app",
  },
  {
    platform: "GitHub",
    url: "https://github.com/nnamdi-nwaocha/",
  },
];
---

<footer id="social-links" class="scroll-mt-12">
  <Wrapper variant="base" class="py-8 2xl:py-16 border-t">
    <div
      class="flex flex-col justify-between gap-8 lg:flex-row lg:items-center"
    >
      <Text
        tag="h2"
        variant="textBase"
        class="font-medium text-zinc-800 dark:text-zinc-200"
      >
        Prima Persona
      </Text>
      <div class="flex gap-4 lg:justify-end">
        {
          socialLinks.map((link) => (
            <a href={link.url} class="group">
              <Text
                tag="span"
                variant="textBase"
                class="text-zinc-800 hover:text-black duration-300 flex items-center dark:text-zinc-200 dark:hover:text-white"
              >
                {link.platform}
              </Text>
            </a>
          ))
        }
      </div>
    </div>
  </Wrapper>
</footer>
